<h1>Article / New</h1>

<%= form_for :article, url: articles_path do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
            <% @article.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger">
                <strong>Attention !</strong> <%= msg %>
            </div>
            <% end %>
        </div>
    <% end %>
    <form>
        <div class="form-group">
            <%= f.label :title, 'Your Title'  %>
            <%= f.text_field :title, :class => 'form-control', :placeholder => 'My Title', :required => true %>
        </div>
        <div class="form-group">
            <%= f.label :url, 'Your Image' %>
            <%= f.url_field :url, :class => 'form-control', :required => true %>
        </div>
        <div class="form-group">
            <%= f.label :text, 'Your Text' %>
            <%= f.text_area :text, :class => 'form-control', :rows => '3', :required => true %>
        </div>
        <%= f.submit :class => 'btn btn-primary' %>
    </form>
<% end %>