<h1 class="text-center text-uppercase text-primary"><%= @article.title %></h1>
<%= image_tag(@article.url, :alt => "rss feed", :class => 'img-responsive') %>
<p class="text-justify" style="padding: 15px 0;"><%= @article.text %></p>

<h4 class="text-muted">List comment</h4>
<%= render @article.comments %>

<h4 class="text-muted">Add comment</h4>
<%= render 'comments/form_new/' %>