<!DOCTYPE html>
<html>
  <head>
      <%= csrf_meta_tags %>
      <title><%= @page_title || @page_title_2 %></title>
      <meta name="description" content="<%= @meta_description %>" />
      <link rel="icon" type="image/png" href="../../assets/images/favicon.png" />
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
       <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Rubyblognonaise", root_path, class: "navbar-brand" %>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><%= link_to "Articles", articles_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Adminstration", admin_path %></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
    	<div class="row">
    		<div class="col-md-10 col-md-offset-1">
    			<%= yield %>
    		</div>
    	</div>
    </div>
    <div class="container">
        <hr/>
        <div class="text-center center-block">
            <p><%= link_to "Nous contacter", contacts_path %> - <%= link_to "A Propos", about_path %></p>
            <br />
            <p class="txt-railway">- rubyblognonaise.com -</p>
            <br/>
            <a href="https://www.facebook.com/bootsnipp" id="social-fb"><i class="fa fa-facebook-square fa-3x social"></i></a>
            <a id="social-tw" href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
            <a id="social-gp" href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
            <a id="social-em" href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        <hr/>
    </div>
  </body>
</html>
